.MIL-recommend {
    position: relative;
    display: block;
    height: 320px;
    width: 100%;
    white-space: normal;
    background-size: cover;
    background-color: #4c4863;
    border-radius: 6px;
}

/* th, ul {
    margin: 0;
    padding: 0;
    border: 0;
} */

li, ol, ul {
    list-style: none;
}

/* h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */