button {
    outline: none;
    background-color: transparent;  /* 이미지 배경 투명*/
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

li, ol, ul {
    list-style: none;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
    display: block;
}

img {
    user-select: none;
}