* {
    margin: 0;
    padding: 0;
    border: 0;
}

button {border:0 none; background-color:transparent; cursor:pointer;}
table {border-collapse:collapse; border-spacing:0;}
 
 
/* 여백 초기화 */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
vertical-align: baseline; outline: 0; padding: 0; margin: 0; border: 0;
}


.MIL-logo {
    margin-left: 3px;
}

.MIL-logo:active {
    color: #5518ab;
}



.usericon {
    position: relative;
    top: 65px;
    cursor: pointer;
    user-select: none;
}

.link {
    font-size: 13px;
    color: #8c8c8c; text-decoration: none; outline: none;
    user-select: none;
}

.header-li-link {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.header-li-link:hover, .header-li-link:active {
    color: #000000;
    text-decoration: none;
}

.link:hover, .link:active {
    text-decoration: none;
    color: #8c8c8c;
}

.nav2-ul {
    list-style: none;
    margin-right: 5px;
}

.nav2-ul li:first-child {
    margin-left: 0;
}

.nav2-ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 13px;
    vertical-align: top;
    white-space: nowrap;    /* ? */
}


